#today {
    -fx-text-fill : coral;
}

#dateOutOfMonth {
    -fx-text-fill: grey;
}

#opaque {
    -fx-background-color: white;
}

.toggle-button {
    -fx-background-color: white;
}
.toggle-button:selected {
    -fx-background-color: lightblue;
}

.toggle-button:hover {
    -fx-background-color: #e2d7d7;
}

#buttonHbox {
    -fx-border-color: black;
}